{% extends 'base.html' %}

{% block title %} {{ title }} :: {{ block.super}} {% endblock %}

{% block content %}

<div class="news">
    <div class="add_news">
          <a class="add_news_link" href="{% url 'add_news' %}">Добавить новость</a>
    </div>
    <div class="row">
        {% for item in news %}
            <div class="col">
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                        {% endif %}
                        <div class="media-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{item.content|truncatewords:50}}</p>
                            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Узнать больше...</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:"Y-m-d H:i" }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}